body{
    background-color:rgba(221, 205, 60, 0.815);
}
header{
    margin-top: -100px;
    font-size: 80px;
    background-color: rgba(7, 12, 80, 0.815);
    height: 160px;
    border-style: solid;
    padding-bottom: 80px;
    border-color: azure;
    
}
main{
    margin-top: -100px;
    font-size: 20px;
}
.button{
    color:rgb(255, 255, 255)
}
.tajri{
    color: rgb(0, 255, 170);
}
.razak{
    color: rgb(255, 255, 255);
}
.hello{
    font-size: 20px;
    margin-top: -110px;
}
.welcome{
    font-size: 20px;
    color:rgb(241, 247, 247);
    margin-top: -80px;
}
img{
    margin-top: 120px;
    margin-right: 1100px;
    background-color: azure;
}
h2{
    margin-top: -400px;
    color: white;
}
p{
    color: white;
}
p1{
    margin-bottom: 5cm;
}
.page {
    margin-left:300px ;
}


